.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--rosa-principal);
  font-family: 'Poppins', sans-serif; 
  color: var(--branco);
  box-shadow: 0 2px 5px rgba(185, 22, 22, 0.1);
}

.header h1 {
  font-family: 'Patua One';
  font-size: 2rem;
  margin: 0;
}

.botao-carrinho {
  position: relative; 
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
}

.botao-carrinho:hover {
  transform: scale(1.1);
}

.botao-carrinho img {
  width: 35px;
  height: 35px;
}


.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}
